APP_URL=http://localhost:4100
NODE_ENV=development

#Auth
APP_SECRET=

#Databse
DB_HOST=
DB_USER=
DB_PASS=
DB_DATABASE=

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=192.168.99.100
REDIS_PORT=6379

# Mail

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=

